@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.bg-primary {
  background-color: rgba(255, 144, 14, 0.1);
}
.display-flex {
  display: flex;
}
/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.text-light-gray {
  color: #727272;
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.text-orange {
  color: #ff900e;
}
/* nav bar style */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.brand-logo {
  font-size: 3rem;
  font-weight: 700;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-content {
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.banner-img {
  width: 100%;
}
/* teams style */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
#quick-list {
  font-weight: 500;
}
.our-features {
  max-width: 540px;
  margin-left: 70px;
}
/* features style */
.features {
  align-items: center;
  gap: 140px;
}
#features-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-card {
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}
.features-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
#experience-badge {
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: -150px;
  margin-left: -100px;
}
#experience-year {
  font-size: 4rem;
  font-weight: 700;
}

.features-img-container img {
  width: 100%;
}
/* facts card */
.facts-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
  justify-items: center;
}
.facts-card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.facts-card-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.facts-card-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0;
}
.facts-content-des {
  max-width: 540px;
}
/* sponsors part */
.sponsors-content {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.sponsors-img-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.sponsors-img-container img {
  filter: grayscale(100%);
}
footer {
  background-color: #fff4e7;
  border-radius: 8px;
  padding: 40px 0;
  max-width: 1440px;
  margin: 130px auto;
}
footer p {
  font-size: 1.25rem;
  text-align: center;
}
/* responsive style */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams,
  .features {
    flex-direction: column;
  }
  .team-img-container,
  .facts-card-container,
  .sponsors-img-container {
    grid-template-columns: 1fr;
  }
  .sponsors-img-container {
    gap: 50px;
  }
  .facts-card-container {
    justify-items: center;
    gap: 20px;
  }
  .our-features {
    margin-left: 20px;
    text-align: center;
  }
  #experience-badge {
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 576px) and (max-width: 990px) {
  .teams,
  .features {
    flex-direction: column;
  }
  .our-features {
    margin: 0 auto;
    text-align: center;
  }
  #experience-badge {
    margin-top: 50px;
    margin-left: 200px;
  }
}
